
body{
    width:100%;
    height:100%; 
}
.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:white;
    background: rgba(0, 0, 0, 0.5);
}


/*Navbar style*/

.navbar {

    padding-top: 1px;
    padding-bottom: 1px;
    border: 0;
    border-radius:0;
    margin-bottom; 0;
    color: white;
    font-size:12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight:bold;
    font-family: 'Montserrat', serif;
    background-color: gray transparent;

}

.navbar-nav li a:hover {
  color: #000000!important;

    
}

.navbar-brand:hover {
    color: #000000!important;
     
}

.navbar,
.bg-1 {
   margin: 0;
}


/* author and title styles */

#author,
#title {
    padding: 10px;
    margin-top: 70px;
    
}
/**Welcome section style>**/

.bg-1{
    display:block;
    color:rgb(9, 20, 27);
    height: 500px;
    right: 0;
    padding-top: 150px;
    background:#E9D5DA;
    font-family:'Montserrat', serif;
    
    
}
h1, h2, h4 {
    font-weight:bold;
    position:relative;
    line-height: 55px;
}
h1{
    letter-spacing: 10px;
}


.skills{
    padding-top:90px;
}

.fa-long-arrow-down{
    
    position:relative;
    font-size: 30px;
    padding-top: 100px;
    color:rgba(0, 0, 0, 0.5);
    transform:rotate(180deg);
    text-decoration: none;
    }

#myVideo{
    
    position:absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    
}

/* About Me style*/

.bg-2 {
    
    display:block;
    color:rgb(133, 105, 133);
    font-family: 'Montserrat', serif;
    background-color: #827397;
    
}

#about{

    margin:auto;
    right:0px;
    left:0px;
    color:white;
      
}


.bio {
    margin-left: 30px;
    margin-right: 40px;
    text-align: justify;
    font-size: 16px;
    line-height: 2.0em;
    color: #fff9f9;
    font-family: 'Montserrat', serif;
    margin-top: 50px;
   
   
}
.contact, .project{
    color:rgba(254, 97, 72, 0.5);
   text-decoration: none;
}
 .project:hover, .contact:hover{
    color:rgba(254, 97, 72, 0.5);
}

/*----img-circle styles----*/

.img-circle {
    width: 300px;
    height: 300px;
    margin-top: 10px;
   background-color:rgba(254, 97, 72, 0.5);
    
}
.img-responsive {
    width: 350px;
    height: 350px;
    display: inline;
    background-color:rgb(254, 97, 72);

}

/**Projects section style**/

.bg-3{
    display:block;
    top:700px;
    right:0;
    left:0;
    color: #b2b2b2;
    background-color: #4D4C7D;
    font-family: 'Montserrat', serif;
    
}
.thumbnail{
    
   margin-top: 50px;
}
/* Contact form style*/

.bg-4 {    
    background-color: #363062;
    display:block;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', serif;
   
    
        
        
}
.form-control{
    margin-left:10px;
    text-transform:capitalize;
    
}



.form {
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    color: #b2b2b2;;
    margin-top:50px;
    margin-bottom:60px;

}

#contact{
   
    color:#b2b2b2;
    margin:auto;
    right:0px;
    left:0px;
}

.underline-headings{
    
    position:absolute;
    width:90px;
    height:5px;
    margin:auto;
    right:0px;
    left:0px;
    background-color:rgb(156, 156, 156);
    margin-top:10px;
    
    
}


.send{
    margin: 10px;
    text-transform:uppercase;
    font-weight:bold;
    color: #ffffff;
    border: 1px solid rgb(8, 8, 8);
    background-color:rgb(99, 97, 96);
}


/*footer style*/

.bg-5{
    display: block;
    bottom:0;
   font-size: 50px;
    color:rgba(254, 97, 72, 1);
    background-color: #2a264d;
}

.copy-right {
    
    right:0;
    left:0;
    font-size: 10px;
    color:#ffffff
   
}
/* social icons style*/


.fa {
    padding: 20px;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    color:rgb(233, 224, 222);
}



